BOT_TOKEN=7777777777:AAA_YourTelegramBotTokenHere
ADMIN_ID=8913846037
CHANNEL_USERNAME=@muzxs
CHANNEL_LINK=https://t.me/muzxs
GITHUB_COVER_URL=https://raw.githubusercontent.com/8wyw74t7yv-alt/YourRepo/main/cover.JPG
AUDD_API_KEY=your_audd_api_key_optional
