# Telegram Bot Token (BotFather'dan olingan token)
BOT_TOKEN=7777777777:AAA_YourTelegramBotTokenHere

# Admin Telegram ID (Xabar va buyruqlarni boshqarish uchun)
ADMIN_ID=8913846037

# Kanal sozlamalari
CHANNEL_USERNAME=@muzxs
CHANNEL_LINK=https://t.me/muzxs

# GitHub Albom Muqovasi (Tashqi havola orqali yuklash uchun)
GITHUB_COVER_URL=https://raw.githubusercontent.com/8wyw74t7yv-alt/8wyw74t7yv-/main/assets/cover.JPG

# Qo'shiq nomini aniqlash xizmati (Ixtiyoriy)
AUDD_API_KEY=your_audd_api_key_optional
