# Telegram Bot Token (BotFather'dan olingan token)
BOT_TOKEN=7777777777:AAA_YourTelegramBotTokenHere

# Admin Telegram ID (Xabar va buyruqlarni boshqarish uchun)
ADMIN_ID=8913846037

# Server Porti (Fly.io va mahalliy ishga tushirish uchun)
PORT=3000
