# Node modules va loglar
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Maxfiy muhit fayllari
.env

# Vaqtinchalik fayllar va papkalar (agar bot ish jarayonida musiqalarni vaqtincha saqlasa)
temp/
downloads/
*.mp3
*.m4a

# OS fayllari
.DS_Store
Thumbs.db
